<!-- Generated template for the AssessmentDetailsComponent component -->
<!-- <div *ngIf="assessment">
      <h2>{{assessment.extended_name}} details!</h2>
      <div><label>id: </label>{{assessment.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="assessment.extended_name" placeholder="name"/>
      </div>
</div> -->

<div class="row" *ngIf="assessment">
					<div class="inner-page-content common-assessment-content w-100">
						<div class="assessment-info-block mt-4">
							<div class="assessment-info">
								<div class="row">
									<div class="col-md-8">
										<img src="./assets/images/svg/test-card-blue.svg" class="float-left m-3" alt="">
										<div class="assessment-details mt-3">
											<h3 class="font-large font-weight-bold">{{assessment.extended_name}}</h3>
										</div>
									</div>
									<div class="col-md-4 mt-4 text-right">
										<button class="btn btn-primary mr-3 mt-5 px-4" (click)="administer()">
											<img src="./assets/images/svg/ipad.svg" class="minus-top-2" alt="">
											Administer
										</button>
									</div>
								</div>
							</div>
							<div class="assessment-actions">
								<div class="row">
									<div class="col-md-6 pr-0 text-center">
											<button class="text-center w-100" (click)="emailAssessment()">
												<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="">
												Email
											</button>
									</div>
									<div class="col-md-6 pl-0 text-center">
										<button class="text-center w-100" (click)="scheduleAssessment()">
												<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="">
											Subscribe
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="single-assessment-details">
							<h4>Deep Fried Turkey Practice</h4>
							<p>{{assessment.description}} </p>

							<h4>Bbq Grilling Versus Smoking The Great Debate</h4>
							<p>{{assessment.validity}}</p>

							<h4>Healthy Cooking Is A Must For Families</h4>
							<p>{{assessment.interpretation}}</p>
						</div>
					</div>
  </div>
