<!-- Generated template for the UpgradePlanComponent component -->



<!--<ion-title text-center>{{ 'UPGRADE_PLAN' | translate }}</ion-title>-->



<div class="row">
    <div class="inner-page-content common-assessment-content w-100">
        <div class="page-header">
            <h3 class="font-lead m-0">Plan</h3>
        </div>
        <div class="assessments">
            <div class="ro">
                <div class="col">
                    <table class="table plans-table p-3">
                        <!-- <thead> -->
                            <ion-row class="thead">
                                <ion-col><strong>Features</strong></ion-col>
                                <ion-col class="free"><strong>Free</strong></ion-col>
                                <ion-col><strong>Basic</strong></ion-col>
                                <ion-col><strong>Pro</strong></ion-col>
                                <ion-col><strong>Unlimited</strong></ion-col>
                            </ion-row>
                        <!-- </thead> -->
                            <tbody>
                        
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>No. of Clients</span>
                                </ion-col>
                                <ion-col>Up to 40</ion-col>
                                <ion-col>Up to 80</ion-col>
                                <ion-col>Up to 300</ion-col>
                                <ion-col>Unlimited</ion-col>
                                <ion-col>Unlimited</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>No. of test administrations</span>
                                </ion-col>
                                <ion-col>Up to 40 per month</ion-col>
                                <ion-col>Up to 80 per month</ion-col>
                                <ion-col>Up to 300 per month</ion-col>
                                <ion-col>Unlimited</ion-col>
                                <ion-col>Unlimited</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>No. of practitioner accounts</span>
                                </ion-col>
                                <ion-col>Up to 40</ion-col>
                                <ion-col>Up to 80</ion-col>
                                <ion-col>Up to 300</ion-col>
                                <ion-col>Unlimited</ion-col>
                                <ion-col>Unlimited</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Access to all world class psychometric assessments</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Instant scoring saving you valuable time</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Scores presented as percentiles for easy interpretation</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Graph symptoms over time to track progress in treatment</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Email assessment to clients so they can complete at home</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Schedule regular assessments via email</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <img src="http://placehold.it/40x40">
                                    <span>Export results as CSV into excel</span>
                                </ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                                <ion-col><span class="check"></span></ion-col>
                            </ion-row>
                            <ion-row class="actions">
                                <ion-col></ion-col>
                                <ion-col>
                                    <button class="btn free">
                                        <p class="price">$0</p>
                                        <p class="small">per month*</p>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button class="btn btn-success">
                                        <p class="price">$15</p>
                                        <p class="small">per month*</p>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button class="btn btn-success">
                                        <p class="price">$30</p>
                                        <p class="small">per month*</p>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button class="btn btn-success">
                                        <p class="price">$60</p>
                                        <p class="small">per month*</p>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button class="btn btn-success">
                                        <p class="price">$199</p>
                                        <p class="small">per month*</p>
                                    </button>
                                </ion-col>

                            </ion-row>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>