<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


  <!-- <ion-content class= 'padding has-subheader'>
    <iframe class= 'webPage' name= "recentActivitiesPage" src='sanitizer.bypassSecurityTrustResourceUrl(options.url)' width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
   </iframe>
  </ion-content> -->

  
      <!-- <ion-icon large name="close-circle" (click)="closeModal()" float-right style="z-index:9999;font-size:3.5em;padding:20px"></ion-icon> -->
      <!-- <pdf-viewer [src]="options" [render-text]="true" style="display: block;"></pdf-viewer> -->
  
      

<!--<ion-header>

  <ion-navbar>
    <ion-title>report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
  <iframe src="http://www.w3schools.com"></iframe>
       <div ng-include src="'http://www.w3schools.com'"></div>
    
</ion-content>-->
