ion-label{
	font-size: 1rem;
}
ion-input.form-control{
	padding: 0px;
	.text-input-md{
		padding: 1rem;
		margin: 0px;
	}
}
.tabs-md .tabbar{
    padding: 0px 25%;
    .tab-button{
	    text-decoration: none;
    }
}
ion-list{
	.item-md.list-group-item{
		background: #fff;
		padding: 0px;
		outline: none;
		.item-inner{
			padding: 0px 16px;
			.label-md{
				overflow: visible;
			}
		}
	}
}
.li-block{
	outline: none!important;
}
form{
	.label-md[stacked] {
	    font-size: 0.8rem;
	    color: #999;
	}
	.item-md{
		padding: 0px!important;
		border: 0px!important;
		box-shadow: none!important;
		.item-inner{
			border:0px!important;
		}
	}
	ion-input{
	    padding: 4px 16px;
	    background: #fff;
	    margin-top: 8px;
	    font-size: 1rem;
	    border: 1px solid #ddd;
	}
	.radio-btn{
		ion-col{
			border: 1px solid #488aff!important;
		    border-right: 0px!important;
		    &:last-child{
		    	border-right: 1px solid #488aff!important;
		    }
		}
		.item-radio{
			text-align: center;
			min-height: 2rem!important;
			&.item-radio-checked{
				background: #488aff;
				color: #fff;
				ion-label{
					color: #fff!important;
				}
			}
			.radio-md{
				position: absolute;
			    z-index: 99;
			    left: 0px;
			    width: 100%;
			    margin: 0px;
			    top: 0px;
			    bottom: 0px;
				.radio-icon{
					visibility: hidden;
				}
			}
		}
	}
}
.toolbar{
	.toolbar-title{
		font-size: 1.2rem;
	}
}
.searchbar-md .searchbar-input{
	line-height: 2rem;
	font-size: 1.2rem;
}
ion-footer.footer{
	.button-clear-md{
		text-transform: capitalize;
		color: #333;
		.ion-ios-arrow-dropright-circle{
			color: #78D44F;
		}
	}
}

ion-segment{
	ion-segment-button{
		border-bottom-color: transparent!important;
		border-bottom-width: 3px!important;
		color: #333!important;
		font-weight: 500!important;
		&.segment-activated{
			border-color:$blue!important;
		}
	}
}
ion-tags-input{
	.ion-tags-input{
	    margin: 10px 0px;
	    border: 2px dashed $blue-light;
	    min-height: 52px;
	    padding: 0px;
	    position: relative;
	    .iti-input{
    	    position: absolute;
		    width: 100%;
		    left: 0px;
		    text-align: center;
		    z-index: 1;
		    height: 100%;
		    color: $blue-light;    
		    font-size: 15px;
		    opacity: .8;
		    &::-webkit-input-placeholder {
				color: $blue-light !important;
			}
			 
			&:-moz-placeholder { /* Firefox 18- */
				color: $blue-light !important;  
			}
			 
			&::-moz-placeholder {  /* Firefox 19+ */
				color: $blue-light !important;  
			}
			 
			&:-ms-input-placeholder {  
				color: $blue-light !important;  
			}
	    }
	    .iti-tags-wrap{
	    	display: inline-block;
	    }
		.iti-tag{
			margin: 4px;
			height: 40px;
			font-size: 1rem;
		    max-height: initial;
		    padding: 9px 12px;
		    font-weight: 600;
	        display: inline-block;
			float: none;
			border-radius: 4px;
		    .iti-tag-rm{
		    	width: 14px;
			    height: 14px;
			    border: 1px solid #fff;
			    /* padding: 0px 4px; */
			    display: inline-block;
			    font-size: 8px;
			    text-align: center;
			    border-radius: 50%;
			    background: #fff;
			    position: relative;
			    top: -2px;
			    font-weight: bold;
			    margin-left: 5px;
			    &:before{
		    	    color: #4a8bfc;
				    position: relative;
				    top: -1px;
			    }
			}
		}
	}
}
.plans-table{
		thead{
			th{
				text-align: center;
				padding: 0.5rem;
				font-size: 1.2rem;
				&:first-child{
					text-align: left;
					padding-left: 0px;
				}
				&.free{
					background: #333;
				    color: #fff;
				    border-radius: 10px 10px 0px 0px;
				}
			}
		}
		tbody{
			background: #fff;
			td{
				vertical-align: middle;
				border-right: 1px solid #eee;
				text-align: center;
				border-top: none;
				font-size: 1rem;
			}
			td:first-child{
				width: 300px;
				min-width: 300px;
				text-align: left;
				img{
					margin-right: 10px;
					float:left;
					max-height: 24px;
				}
				img, p{
					display: block;
					margin-bottom: 0px;
				}
			}
			span.check{
				width: 30px;
				height: 30px;
				background: url('/assets/images/checked.png');
				display: inline-block;
			}
			.actions{
				button{
					padding: 10px;
					&.free{
						background: #333;
						color: #fff;
					}
					p.price{
						margin: 0px;
						font-size: 1.5rem;
						font-weight: bold;
					}
					p.small{
						margin:0px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
// .plans-table{
// 	.thead{
// 		ion-col{
// 			text-align: center;
// 			padding: 0.5rem;
// 			font-size: 1rem;
// 			&:first-child{
// 				text-align: left;
// 				padding-left: 0px;
// 			}
// 			&.free{
// 				background: #333;
// 			    color: #fff;
// 			    border-radius: 10px 10px 0px 0px;
// 			}
// 		}
// 	}
// 	.tbody, tbody{
// 		.row{
// 			background: #fff;
// 		}
// 		.col{
// 			vertical-align: middle;
// 			border-right: 1px solid #eee;
// 			text-align: center;
// 			border-top: none;
// 			font-size: 1rem;
// 		}
// 		.col:first-child{
// 			width: 325px;
// 			min-width: 325px;
// 			text-align: left;
// 			img{
// 				margin-right: 10px;
// 				float:left;
// 				max-height: 24px;
// 			}
// 			img, p{
// 				display: block;
// 				margin-bottom: 0px;
// 			}
// 		}
// 		span.check{
// 			width: 30px;
// 			height: 30px;
// 			background: url('/assets/images/checked.png');
// 			display: inline-block;
// 		}
// 		.actions{
// 			button{
// 				padding: 10px;
// 				&.free{
// 					background: #333;
// 					color: #fff;
// 				}
// 				p.price{
// 					margin: 0px;
// 					font-size: 1.5rem;
// 					font-weight: bold;
// 				}
// 				p.small{
// 					margin:0px;
// 					margin-bottom: 5px;
// 				}
// 			}
// 		}
// 	}
// }
.radio-group{
	.radio-input{
		display: inline-block;
		border: 1px solid #05BDFF;
		margin:0px -3px;
		input{
			display: none;
		}
		label{
			padding: 10px 30px;
			margin:0px;
			cursor: pointer;
			font-size: 15px;
		}
		input:checked + label{
			background: #05BDFF;
			color: #fff;
		}
	}
}
@media only screen and (min-height: 600px) and (min-width: 768px){
	.modal-wrapper {
	    left: calc(50% - (700px/2));
	    top: calc(50% - (500px/2));
	    position: absolute;
	    width: 700px;
	    height: 500px;
	}	
}