<!--
  Generated template for the AdministerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

    <div id="main" class="inner-page assessment-page fullpage">
        <div class="container-fluid">
          <div class="row">
            <div class="fullpage-popup w-100">
              <div class="popup-header">
                <div class="row">
                  <div class="col-md-10">
                    <h3>Assessment 1 of 2</h3>
                  </div>
                  <div class="col-md-2 text-right">
                    <button class="btn" (click)="cancel()">
                      <img src="/assets/images/close.png">
                    </button>
                  </div>
                </div>
              </div>
              <div class="popup-body text-center">
                <img src="/assets/images/svg/novopsych-logo.svg" style="width:120px;" alt="">
                <h3 class="mt-2 mb-0">{{clientName}}</h3>
                <p class="lead mt-1">DASS-21</p>
                <button class="mt-2 btn btn-success">Start Assessment</button>
              </div>
            </div>
          </div>
        </div>
      </div>

</ion-content>
