<ion-content>

  <div id="main" class="inner-page clients-page">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="inner-page-nav row">
            <div class="inner-page-header w-100 p-2">
            </div>


            <div class="inner-page-list w-100">
              <button class="li-block w-100" text-left (click)="planSelected()">
 								<p class="mb-3">Plan</p>
 								<p class="small">Upgrade to get more tests and client</p>
 							</button>
              <div class="li-block">
                <p class="mb-1">Account Details</p>
                <p class="small">Personal details, email, passcode</p>
              </div>

              <div class="li-block active">
                <p class="mb-1">Feedback</p>
                <p class="small">Suggestions, errors, feature requests</p>
              </div>
              <div class="li-block">
                <p class="mb-1">Help</p>
                <p class="small">Userguide, FAQ, TCs, Privacy Policy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <upgrade-plan></upgrade-plan>
        </div>

        </div>
      </div>
    </div>
  

</ion-content>