<!-- Generated template for the UpgradePlanComponent component -->



<!--<ion-title text-center>{{ 'UPGRADE_PLAN' | translate }}</ion-title>-->



<div class="row">
    <div class="inner-page-content common-assessment-content w-100">
                        <div class="page-header">
                            <h3 class="font-lead m-0">Plan</h3>
                        </div>
                        <div class="assessments">
                            <div class="row">
                                <div class="col">
                                    <table class="table plans-table">
                                        <thead>
                                            <tr>
                                                <th>Features</th>
                                                <th class="free">Free</th>
                                                <th>Basic</th>
                                                <th>Pro</th>
                                                <th>Unlimited</th>
                                                <th>Practice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of Clients</span>
                                                </td>
                                                <td>Up to 40</td>
                                                <td>Up to 80</td>
                                                <td>Up to 300</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of test administrations</span>
                                                </td>
                                                <td>Up to 40 per month</td>
                                                <td>Up to 80 per month</td>
                                                <td>Up to 300 per month</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of practitioner accounts</span>
                                                </td>
                                                <td>Up to 40</td>
                                                <td>Up to 80</td>
                                                <td>Up to 300</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Access to all world class psychometric assessments</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Instant scoring saving you valuable time</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Scores presented as percentiles for easy interpretation</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Graph symptoms over time to track progress in treatment</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Email assessment to clients so they can complete at home</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Schedule regular assessments via email</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Export results as CSV into excel</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr class="actions">
                                                <td></td>
                                                <td>
                                                    <button class="btn free">
                                                        <p class="price">$0</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$15</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$30</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$60</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$199</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>