<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Select Client</ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="addClient()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="cancel()" end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of currentItems " (click)="clientSelected(item)">
          <ion-row>
            <ion-col><h2><b>{{item.first_name}} {{item.last_name}}</b></h2></ion-col>
            <ion-col>{{ calculateAge(item.date_of_birth) }} Years old</ion-col>
            </ion-row>
          </button>
  </ion-list>
</ion-content>-->

<!-- Select Client Modal -->
<ion-content>
				<div class="popup">
					<div class="popup-dialog" role="document">
						<div class="popup-content">
							<div class="popup-header">
								<div class="popup-title">
									<div class="d-flex w-100">
										<div class="col-md-1">
											<button class="btn-icon" (click)="addClient()">
												<img src="./assets/images/new-user.png">
											</button>
										</div>
										<div class="col-md-10 text-center">
											<h3>Select Client</h3>
										</div>
										<div class="col-md-1">
											<button class="btn-icon" (click)="cancel()">
												<img src="./assets/images/close.png">
											</button>
										</div>
									</div>
								</div>
								<div class="popup-search">
									<ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
								</div>
							</div>
							<div class="popup-body p-0">
								<ion-list class="list-group">
								<!-- <button class="li-block w-100" text-left *ngFor="let item of currentItems;let i = index" (click)="clientSelected(item)" class="list-group-item"> -->
										<button ion-item *ngFor="let item of currentItems " (click)="clientSelected(item)" class="list-group-item">
									<!-- <p class="float-left">{{item.first_name}} {{item.last_name}}</p> -->
									<strong>{{item.first_name}} {{item.last_name}}</strong>
									<!-- <p class="float-right">{{ calculateAge(item.date_of_birth) }} years old</p> -->
									<span class="float-right">{{ calculateAge(item.date_of_birth) }} years old</span>
								</button>
							</ion-list>
							</div>
						</div>
					</div>
				</div>
</ion-content>
				<!-- // Select Client Modal -->
