<!-- <ion-header>
  <ion-navbar *navbar>
    <ion-title align-title="center">
      Email to Estelle Potter
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="email" color="light">
      <ion-segment-button value="Select Assessment">
        Select Assessment(s)
      </ion-segment-button>
      <ion-segment-button value="Customise Email">
        Customise Email
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="email">

    <div *ngSwitchCase="'Select Assessment'">
      
      <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
      <ion-list inset> 
      <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <h2>{{item.short_name}} {{item.extended_name}}</h2>
      </button>
  </ion-list>
  <ion-tags-input [(ngModel)]="assessmentNameTag" [placeholder]="'add assessment'" (onChange)="onChange($event)"></ion-tags-input>
    </div>

    <div *ngSwitchCase="'Customise Email'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Subject</ion-label>
            <ion-input type="text" [(ngModel)]="subject" name="subject" placeholder="Assessments"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Message</ion-label>
            <ion-textarea placeholder="Enter a description" [(ngModel)]="message" name="message"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    
  </div> 
  
</ion-content> -->



<ion-content>
  <div [ngSwitch]="email">
  <!-- Assessment(s) for Estelle Potter Modal -->
  <div class="popup">
      <div class="popup-dialog" role="document">
        <div class="popup-content">
          <div class="popup-header">
            <div class="popup-title">
              <div class="d-flex w-100">
                <div class="col-md-1">
                </div>
                <div class="col-md-10 text-center">
                  <h3>Email to {{clientName}}</h3>
                  <p class="small mb-0">estellerpotter@gmail.com</p>
                </div>
                <div class="col-md-1">
                  <button class="btn-icon" (click)="cancel()">
                    <img src="./assets/images/close.png">
                  </button>
                </div>
              </div>
            </div>
          </div>

          <ion-segment [(ngModel)]="email" color="light">
              <ion-segment-button value="Select Assessment">
                Select Assessment(s)
              </ion-segment-button>
              <ion-segment-button value="Customise Email">
                Customise Email
              </ion-segment-button>
          </ion-segment>

          <div class="popup-body p-0 pt-3" *ngSwitchCase="'Select Assessment'">
            
            <div class="popup-search">
                <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
            </div>
            <ion-list class="list-group">
                <button ion-item class="list-group-item" [class.checked]="item.selected" *ngFor="let item of assessments " (click)="assessmentSelected(item)">
                    <strong>{{item.short_name}}</strong>
                    <span> - {{item.extended_name}}</span>
                    <span class="float-right">
                        <span class="check"></span>
                    </span>
                </button>
            </ion-list>
            <div class="bg-white p-1">
                  <ion-tags-input [(ngModel)]="assessmentNameTag" [once]="'true'" [placeholder]="'Selected tests'" (onChange)="onChange($event)"></ion-tags-input>  
            </div>
          </div>

          <div class="popup-body pt-3" *ngSwitchCase="'Customise Email'">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="note" class="text-muted small">Subject</label>
                    <input name="note" id="note" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="note" class="text-muted small">Message</label>
                    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>

          <div class="popup-footer text-right">
            <div class="float-left">
              <div class="attach_client">
                <div class="radio">
                  <input type="checkbox" id="attach_client">
                  <span class="checkbox-input"></span>
                  <label for="attach_client">Email result to clients</label>
                </div>
              </div>
            </div>
            <button class="btn-icon" (click)="administer(assessmentNameTag)">
              <strong>ADMINISTER ({{assessmentNameTag.length}})</strong>
              <img src="./assets/images/svg/start.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- // Assessment(s) for Estelle Potter Modal -->
    </div>
</ion-content>